<h1>New Recipe</h1><br>
<%= link_to 'Welcome', controller: 'welcome' %><br>
<%= link_to 'New Recipe', controller: 'recipes', action: 'new' %>
<%= link_to 'Recipe List', controller: 'recipes' %>
<%= render 'form' %>