// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: url('/assets/recipesBackground.jpg');
}

h1 {
    font-size: 54px;
    color: #383838;
    font-family: Comic Sans MS;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: #383838;
    font-family: Comic Sans MS;
}

p {
    font-family: Comic Sans MS;
}

#topNav ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 10px 0px;
}

#topNav li {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 250px;
    border-bottom: none;
    height: 55px;
    line-height: 55px;
    font-size: 30px;
    font-family: Comic Sans MS;
    color: #383838;
    font-weight: bold;
}

#topNav a {
    text-decoration: none;
    color: #383838;
    display: block;
    transition: .3s background-color;
}

.content {
    font-family: Comic Sans MS;
    color: #383838;
    display: inline-block;
}

input[type=submit] {
    font-family: Comic Sans MS;
    border-radius: 12px;
    color: #383838;
    border: 2px solid #383838;
    margin-left:27%;
}

#newRecipe {
    font-family: Comic Sans MS;
    padding-left: 25%;
}

table {
    font-family: Comic Sans MS;
    border-spacing: 120px 10px;
    margin: auto;
    
}    
    
    
#recipeSteps {
    font-family: Comic Sans MS;
    margin: auto;
    width: 55%;
}
    
#showRecipe {
    font-family: Comic Sans MS;
    margin: auto;
    width: 55%;
}

label {
	
	float:left;
	width: 25%;
	text-align:right;
}
    form p{
text-align:left;
footer {
    position:fixed;bottom:0;

    width:100%;
    display:block;
}

    input{
	margin-left:1em;

}

textarea{
margin-left:1em;
width:40%;
height:100px;
}
    
    }
    
    